@charset "UTF-8";
@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 100;
    src: local('NotoSans'),
        url('font/NotoSans-Thin.woff2') format('woff2'), 
        url('font/NotoSans-Thin.woff') format('woff'),
        url('font/NotoSans-Thin.ttf') format('truetype'),
        url('font/NotoSans-Thin.otf') format('opentype'),
        url('font/NotoSans-Thin.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 300;
    src: local('NotoSans'),
        url('font/NotoSans-Light.woff2') format('woff2'), 
        url('font/NotoSans-Light.woff') format('woff'),
        url('font/NotoSans-Light.ttf') format('truetype'),
        url('font/NotoSans-Light.otf') format('opentype'),
        url('font/NotoSans-Light.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 400;
    src: local('NotoSans'),
        url('font/NotoSans-Regular.woff2') format('woff2'), 
        url('font/NotoSans-Regular.woff') format('woff'),
        url('font/NotoSans-Regular.ttf') format('truetype'),
        url('font/NotoSans-Regular.otf') format('opentype'),
        url('font/NotoSans-Regular.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 500;
    src: local('NotoSans'),
        url('font/NotoSans-Medium.woff2') format('woff2'), 
        url('font/NotoSans-Medium.woff') format('woff'),
        url('font/NotoSans-Medium.ttf') format('truetype'),
        url('font/NotoSans-Medium.otf') format('opentype'),
        url('font/NotoSans-Medium.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 700;
    src: local('NotoSans'),
        url('font/NotoSans-Bold.woff2') format('woff2'), 
        url('font/NotoSans-Bold.woff') format('woff'),
        url('font/NotoSans-Bold.ttf') format('truetype'),
        url('font/NotoSans-Bold.otf') format('opentype'),
        url('font/NotoSans-Bold.eot') format('embedded-opentype');
}

@font-face {
    font-family: 'NotoSans';
    font-style: normal;
    font-weight: 900;
    src: local('NotoSans'),
        url('font/NotoSans-Black.woff2') format('woff2'), 
        url('font/NotoSans-Black.woff') format('woff'),
        url('font/NotoSans-Black.ttf') format('truetype'),
        url('font/NotoSans-Black.otf') format('opentype'),
        url('font/NotoSans-Black.eot') format('embedded-opentype');
}

@font-face {
  font-family:'aritadsb';
  font-style: normal;
  font-weight: normal;
  src: url('font/AritaDotumSemiBold.eot');
  src: url('font/AritaDotumSemiBold.eot?#iefix') format('embedded-opentype'),
       url('font/AritaDotumSemiBold.woff2') format('woff2'),
       url('font/AritaDotumSemiBold.woff') format('woff'),
       url('font/AritaDotumSemiBold.ttf') format('truetype');
}

@font-face {
  font-family:'aritadmd';
  font-style: normal;
  font-weight: normal;
  src: url('font/AritaDotumMedium.eot');
  src: url('font/AritaDotumMedium.eot?#iefix') format('embedded-opentype'),
       url('font/AritaDotumMedium.woff2') format('woff2'),
       url('font/AritaDotumMedium.woff') format('woff'),
       url('font/AritaDotumMedium.ttf') format('truetype');
}

@font-face {
  font-family:'notoserif';
  font-style: normal;
  font-weight: 300;
  src: url('font/NotoSerifKR-SemiBold.otf');
  src: url('font/NotoSerifKR-SemiBold.otf?#iefix') format('embedded-opentype'),
       url('font/NotoSerifKR-SemiBold.woff2') format('woff2'),
       url('font/NotoSerifKR-SemiBold.woff') format('woff'),
}

@font-face {
  font-family:'NanumSquareEB';
  font-style: normal;
  font-weight: normal;
  src: url('font/NanumSquareEB.otf');
  src: url('font/NanumSquareEB.otf?#iefix') format('embedded-opentype'),
       url('font/NanumSquareEB.woff') format('woff'),
       url('font/NanumSquareEB.ttf') format('truetype'),
}